@font-face {
    font-family: 'Rainy Wind Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Rainy Wind Regular'), url('Rainy Wind.woff') format('woff');
    }

 h1{
 	font-family: 'Rainy Wind Regular';
	font-weight: 200;
    color: #0ccac4;	
 }